<html>
<head>
<title>ProjectFunder</title>

<link rel="stylesheet" type="text/css" href="styles.css" />

</head>

<body>
	<div id="wrapper">
		
		   
		<div id="site">
			
	
		<div id="content">
		<h2> Informationen </h2>
		<% 		
		%>
		</div> <!-- content --> 
	
		<div id="content">
		<h2> Aktionsliste </h2>
		<% 		
		%>
		</div> <!-- content --> 
		
	
		<div id="content">
		<h2> Liste der Spender </h2>		
		<% 		
		%>
		</div> <!-- content --> 
		
		<div id="content">
		<h2> Kommentare </h2>
		<% 		
		%>
		</div> <!-- content --> 
		
		
	   </div>  <!-- site -->  
	</div> <!-- wrapper--> 
</body>
</html>
